# <h1 style = "color:blue">  MACHINE LEARNING SYSTEM FOR DIABETES PREDICTION</h1>

<img src="diabetes.jpg" alt="Drawing" style="width: 500px;"/>

## <b> TECHNIQUE </br> <ul><li>PYTHON</li></br> <li>SUPPORT VECTOR MACHINE</li> </ul></b>

## <p style = "color:BLUE"><b>PROBLEM STATEMENT</b></p> </br>
<b style = "color:blue"> <img src="diabetes2.jpg" alt="Drawing" style="width: 200px;"/>Diabetes Mellitus is among critical diseases and lots of people are suffering from this disease. Age, obesity, lack of exercise, hereditary diabetes, living style, bad diet, high blood pressure, etc. can cause Diabetes Mellitus. People having diabetes have high risk of diseases like heart disease, kidney disease, stroke, eye problem, nerve damage, etc. Current practice by Doctors in hospital is to collect required information for diabetes diagnosis through various tests and appropriate treatment is provided based on diagnosis.</br>
When Doctors Collect this Data They still does not know what to do with it. Thats When Machine Learning Engineers and Data Scientist Come In to Help </br>
Here I  Will Build a Machine Learning System That will help Predict Patients With Diabetes, So Doctor will Know The patient to attend to and the once to discharge.</b>

##  <h1 style = "color:blue"> WORK FLOW </h1>
<b><ul><li> Diabetes Data Collecion</br><li>Data Pre Processing </br> <li>Train Test Split</br><li>Support Vector Machine Classifier</br><li> Train Suport Vector Machine Classifier With New Data</br><li> Predict Whether The Patient Is Diabetic Or Non Diabetic</li></li></li></li></ul></b>

## <b style = "color:blue"> Importing The Dependencies </b>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

## <b style = "color:blue"> Data Collection and Analysis </b>

In [4]:
# Loading The Diabetes Dataset to Pandas DataFrame
diabetes_data = pd.read_csv("diabetes.csv")

In [3]:
# Lets Check The First 5 Rows Of The Diabetes Data
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
# Let Us Check The Number Of Rows And Columns Of Our Data
print(f" Our Diabetes Data Has The Total Number Of : {diabetes_data.shape} Rows And Columns")

 Our Diabetes Data Has The Total Number Of : (768, 9) Rows And Columns

In [10]:
# Getting The Statistical Measure Of the Data
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
diabetes_data["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

## Note </br>
<b style = "color:blue">
0 ---> Represent Patients Without Diabetes</br>
1 ---> Represent Patients With Diabetes
</b>

In [12]:
diabetes_data.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [13]:
# Seperating The Data and Labels
X = diabetes_data.drop(columns = "Outcome", axis = 1)
Y = diabetes_data["Outcome"]

In [15]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [16]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

## <b style = "color:blue">Data Standardization</b>

In [18]:
# Lets Make Use Of Our StandardScaler
scaler = StandardScaler()

In [21]:
# Now Let's Fit Our Data
scaler.fit(X)

StandardScaler()

In [22]:
# Let Us Transform The Data
standardized_data = scaler.transform(X)

In [26]:
print(f"Our Standardized Data Is :\n\n {standardized_data}")

Our Standardized Data Is :

 [[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [27]:
X = standardized_data
Y = diabetes_data["Outcome"]

In [33]:
print(f"Our Standardized Data Is:\n\n {X}\n\n While Our Outcome Is :\n\n {Y}")

Our Standardized Data Is:

 [[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

 While Our Outcome Is :

 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## <b style = "color:blue"> Train Test Split </b>

In [34]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y , test_size = 0.2,stratify = Y, random_state = 2)

In [39]:
print(f"The Shape Of Our Feature Data Is :{X.shape}\n\nThe Shape Of Our Training Data Is :{X_train.shape}\n\nWhile the Shape Of our test data is:{X_test.shape}")

The Shape Of Our Feature Data Is :(768, 8)

The Shape Of Our Training Data Is :(614, 8)

While the Shape Of our test data is:(154, 8)

## <b style = "color:blue"> Training The Model </b>

In [40]:
classifier = svm.SVC(kernel = "linear")

In [41]:
# Training The Support Vector Machine Classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

## <b style = "color: blue">  Model Evaluation </b>

## Accuracy Score

In [45]:
# Let us Find The Accuracy Score On the train Data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy  = accuracy_score(X_train_prediction, Y_train)

In [46]:
print(f"The Accuracy Score Of Our Training Data Is: {training_data_accuracy}")

The Accuracy Score Of Our Training Data Is: 0.7866449511400652

In [47]:
# Let us Find The Accuracy Score On the test Data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy  = accuracy_score(X_test_prediction, Y_test)

In [48]:
print(f"The Accuracy Score Of Our Test Data Is: {test_data_accuracy}")

The Accuracy Score Of Our Test Data Is: 0.7727272727272727

## <b style= "color:blue">Building A Predictive System</b>

In [64]:
input_data = (6,148,72,35,0,33.6,0.627,50)

# Changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(f" Our Prediction is :{prediction}")
if (prediction[0] == 0):
   
    print("The Person Is Not Diabetic")
else:
    print("The Person Is Diabetic")

[[ 0.63994726  0.84832379  0.14964075  0.90726993 -0.69289057  0.20401277
   0.46849198  1.4259954 ]]
 Our Prediction is :[1]
The Person Is Diabetic

C:\Users\GODSPOWER UYANGA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

## <b style="color:blue"> Testing With Another Data </b>

In [65]:
input_data = (3,126,88,41,235,39.3,0.704,27)

# Changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(f" Our Prediction is :{prediction}")
if (prediction[0] == 0):
   
    print("The Person Is Not Diabetic")
else:
    print("The Person Is Diabetic")

[[-0.25095213  0.1597866   0.97680475  1.28363829  1.34758997  0.92745247
   0.70104112 -0.53102292]]
 Our Prediction is :[0]
The Person Is Not Diabetic

C:\Users\GODSPOWER UYANGA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

# <b style = "color: blue"> Summary And Conclusion</b>

<b style = "color:blue"> Notice That We have Build A Machine Learning System That is Able To Predict Whether The Person Is Diabetic Or Not. From Our First Input , Noticed That Our Model Predicted 1 which Means That The Person Is Diabetic . We decided To test With another data, Which It predicted 0 Which means That the person is not Diabetic.</br></br> With this Machine Learning System Built, The Doctor Can Boldly Predict People's Diabetic Status accuratly and Will be sure Of The person He Will attend To and The once to Discharge </b>

# Learn More About Godspower Uyanga

<img src="Godspower.jpg" alt="Drawing" style="width: 100px;"/>
 
 #  <center Style ="color:black"> Godspower Uyanga(Data Scientist/Machine Learning Engineer)</center>

<b style = "color:blue">Creative Machine Learning Engineer , Data Scientist and Analyst, Experience Working in Customer Data Mining and Computer Vision. Highly Experience In Writing Codes. As a Big (Data) Professional He Has a strong passion for developing Dashboards, Reports, Data Models, providing business solutions for clients. He Has a Proven ability to establish rapport with clients and exceed sales quotas, Reliable and driven, with strong time management, talented and knowledgeable. Ability of using different software and prioritization. As an Analyst, He can map the Business Requirements as a Business Analyst, Data Analyst, Business Intelligence Specialist then translate them into Operational Dashboard and Performance Related Insights, He is Able To develop a solution without any miscommunication with Stakeholders and clients. </b>